<div class="container-fluid">
  <div class="blah-blah"></div>

  <div class="row animated zoomIn">
    <div class="col-md-6 col-md-offset-3">

      <div class="jumbotron blabber-welcome ">
        <h1>Welcome to Blabber!</h1>

        <p>Blabber is the stupitest application meant for people to say whatever they think for no reason at all</p>

        <form action="/blabs" method="get">
          <div class="input-group">
            <input id="blabber-email" name="email" type="email" class="form-control" required
                   placeholder="Enter your e-mail">
            <span class="input-group-btn">
              <button class="btn btn-primary blabber-enter" type="submit">Start</button>
            </span>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>